.main_contents{
  background-color: white;
  width: calc(100% - 300px);
  min-height: calc(100vh - 200px);
  float:left;
  overflow: auto;
  .chat_area{
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100% - 100px - 90px);
    .user_name{
      display: inline-block;
      padding: 46px 0px 0px 40px;
      color: $message-color;
    }
    .date{
      display: inline-block;
      padding: 0 10px;
      font-size: 12px;
      color: #999999;
    }
    .message{
      padding: 10px 0px 0px 40px;
      color: $message-color;
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }
}

.footer{
  height: 50px;
  width: calc(100% - 300px);
  padding: 20px 0;
  background-color: #DDDDDD;
  float: left;
  .form {
    &__message {
      border: none;
      float: left;
      height: 50px;
      margin-left: 40px;
      padding-left: 10px;
      width: calc(100% - 275px);
    }
    &__mask {
      background-color: white;
      float: left;
      &__image{
        padding: 0 25px 0 25px;
        line-height: 50px;
        float:right;
      }
      .hidden {
        display: none;
      }
    }
    &__send-btn {
      background-color: $light_blue;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin: 0 40px 0 15px;
      padding: 0 30px;
    }
  }
}
